li a {
    color: green;
}
body {
    background: white url("images/background.gif") no-repeat;
}
/* ---------------------------------------------------
                      Global Footer Styles
----------------------------------------------------*/
footer{
  padding: 10px 0;
  /* border-top: 1px solid rgb(36,36,36); */
}
  footer h4{
    text-transform: uppercase;
    margin: 0px;
  }
  footer p{
    margin: 0;
  }
@media screen and (min-width: 1050px){
  .home-page footer {
    padding-top: 300px;
    float: left;
    width: 30%; 
  }
  .about-page footer {
    padding-top: 0px;
    float: left;
    width: 100%;
  }
  .MyWork-page footer {
    float: left;
    width: 100%;
  }
}
/* ---------------------------------------------------
                      CONTACT ICON STYLES
----------------------------------------------------*/
.icon-contact img{
  max-width: 30px;
  min-width: 10px;
  margin-top: 10px;
}
.icon-contact{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}