{% load static %}

<footer>
    <h4>Contact Me</h4>
    <div class = "icon-contact">
        <a  href="https://www.linkedin.com/in/elnaz-karimpour-49a7a877/"><img src="{% static 'polls/images/010-linkedin.png' %}" /> </a>
    </div>
    <div class = "icon-contact">
        <a href="https://github.com/elikrm"><img src="{% static 'polls/images/100-github.png' %}" /> </a> 
    </div>
    <div class = "icon-contact">
        <a  href="https://www.facebook.com/elnaz.karimpoor"><img src="{% static 'polls/images/001-facebook.png' %}" /> </a>
    </div>
    <p>Made by Elnaz &copy 2020</p>
</footer>